$assetPath: "/assets";

@import "base/reset";
@import "base/variables";
@import "base/breakpoints";
@import "base/functions";
@import "base/mixins";
@import "base/typography";

@import "helpers/h-helpers";

@import "layout/main-layout";

@import "blocks/header";
@import "blocks/b-footer";
@import "blocks/b-latest";
@import "blocks/b-next-programs";
@import "blocks/b-hero-highlights";
@import "blocks/b-prochains";
@import "blocks/b-animateurs";

@import "blocks/b-lesTags";

@import "blocks/b-social-wall";

@import "blocks/b-resultats";

@import "components/c-section-title";
@import "components/c-buttons";
@import "components/hero-highlights/all";
@import "components/c-btn";

@import "objects/o-latest";
@import "objects/o-next-program";
@import "objects/o-prochains";
@import "objects/o-resultats";
@import "objects/o-social-wall";

@import "pages/page-homepage";
@import "pages/p-programSHP";
