.b-latest{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 6.1%;
    position: relative;
	@include breakpoint(tablet){
		padding: 0 5.2%;
	}
	@include breakpoint(desktop){
		padding: 0 0.9%;
	}
	&__wrap{
		.c-section__title{
			max-width: 60%;
			margin: auto;
			@include breakpoint(tablet){
				max-width: 100%;
			}
		}
	}
}