.b-next-programs{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 6.1%;
    position: relative;
	@include breakpoint(tablet){
		padding: 0 11.7%;
	}
	@include breakpoint(desktop){
		padding: 0 2%;
	}
	&__wrap{
		background-repeat: no-repeat !important;
		background-size: contain !important;
		@include breakpoint(tablet){
			margin-bottom: 5rem;
		}
		.c-section__title{
			padding: 5.8rem 0 1.7rem 0;
			opacity: .7;
			text-shadow:-2px -2px 0 #0077ff, 
						2px -2px 0 #0077ff, 
						-2px 2px 0 #0077ff, 
						2px 2px 0 #0077ff, 
						2px 3px 58px #002dff;
    		filter: brightness(200%);
    		&__circle{
    			box-shadow: 0 0 115px 70px rgba(22, 165, 222, 0.7);
			    top: 8rem;
			    background: rgba(22, 165, 222, 0.7);
			    border-radius: 30px;	
				@include breakpoint(desktop){					
				    width: 25rem;
				    height: 0rem;
				}			
    		}
			@include breakpoint(tablet){
				padding-bottom: 3rem;
			}
		}
	}
	&--shp{
		@include breakpoint(desktop){
			padding: 0 14.3%;
		}		
	}
}