.b-social-wall {
  width: 100%;

}
.b-social-wall__wrap {
   @include breakpoint(desktop) {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
  }
}
.b-social-wall__division {
  @include breakpoint(desktop) {
    width: 50%;
    float:left;
    padding:2%;
  }
}
