.header {
  width: 100%;
  @extend .clearfix;
  background: $color-black;
  height: 95px;
  border-bottom:1px solid $color-white;
  .wrapper {
    height: 100%;
  }
}
.header__logo {
  margin-left: 13px;
  float: left;
  top:50%;
  transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  position: relative;
  margin-right: 6.3%;
}
.header__nav {
  width: 100%;
}
.header__nav__item {
  display: inline-block;
  line-height: 95px;
  color:$color-white;
  font-size: 11px;
  letter-spacing: 0.125rem;
  font-family: $GothamBlack;
  text-transform: uppercase;
  margin-right: 2.3%;
  // position: relative;
  &:after {
    content:"";
    width: 100%;
    position:relative;
    display: block;
    background: $color-orangina;
    bottom: 15px;
    height: 14px;
    display: none;
  }
  a {
    display: block;
  }
  &:hover {
    .header__submenu {
      display: block;
    }
    &:after {
      display: block;
    }
  }
}
.header__submenu__wrap {
  position: absolute;
  left:0;
  width: 100vw;
  background: $color-black;
}
.header__submenu {
  display: none;
  position: relative;
  padding-left: 2.6%;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}
.header__submenu__item {
  margin-right: 4.9%;
  display: inline-block;
  color:$color-orangina;
}
