html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

img {
  vertical-align: bottom;
  max-width: 100%; }

@font-face {
  font-family: 'Gotham Black';
  src: url(/assets/font/GothamBlack/Gotham-Black.ttf) format("truetype"), url(/assets/font/GothamBlack/Gotham-Black.eot), url(/assets/font/GothamBlack/Gotham-Black.woff) format("woff"), url(/assets/font/GothamBlack/Gotham-Black.woff2), url(/assets/font/GothamBlack/Gotham-Black.svg) format("svg"); }

@font-face {
  font-family: 'Gotham Bold';
  src: url(/assets/font/GothamBold/GothamBoldRegular.ttf) format("truetype"), url(/assets/font/GothamBold/GothamBoldRegular.eot), url(/assets/font/GothamBold/GothamBoldRegular.woff) format("woff"), url(/assets/font/GothamBold/GothamBoldRegular.woff2), url(/assets/font/GothamBold/GothamBoldRegular.svg) format("svg"); }

@font-face {
  font-family: 'Gotham Book';
  src: url(/assets/font/GothamBook/GothamBookRegular.ttf) format("truetype"), url(/assets/font/GothamBook/GothamBookRegular.eot), url(/assets/font/GothamBook/GothamBookRegular.woff) format("woff"), url(/assets/font/GothamBook/GothamBookRegular.woff2), url(/assets/font/GothamBook/GothamBookRegular.svg) format("svg"); }

@font-face {
  font-family: 'Gotham Light';
  src: url(/assets/font/GothamLightRegular/GothamLightRegular.ttf) format("truetype"), url(/assets/font/GothamLightRegular/GothamLightRegular.eot), url(/assets/font/GothamLightRegular/GothamLightRegular.woff) format("woff"), url(/assets/font/GothamLightRegular/GothamLightRegular.woff2), url(/assets/font/GothamLightRegular/GothamLightRegular.svg) format("svg"); }

@font-face {
  font-family: 'Gotham Extra Light';
  src: url(/assets/font/GothamExtraLight/GothamExtraLight.ttf) format("truetype"), url(/assets/font/GothamExtraLight/GothamExtraLight.eot), url(/assets/font/GothamExtraLight/GothamExtraLight.woff) format("woff"), url(/assets/font/GothamExtraLight/GothamExtraLight.woff2), url(/assets/font/GothamExtraLight/GothamExtraLight.svg) format("svg"); }

@font-face {
  font-family: 'SFSports Night NS';
  src: url(/assets/font/SFSportsNightNS.ttf) format("truetype"); }

@font-face {
  font-family: 'SFSports Night Upright';
  src: url(/assets/font/SFSportsUpright.ttf) format("truetype"); }

html {
  font-family: "Gotham Light", sans-serif;
  color: #ffff;
  -webkit-font-smoothing: antialiased;
  font-size: 16px; }
  @media (max-width: 767px) {
    html {
      font-size: 2.5vw; } }
  @media (min-width: 768px) {
    html {
      font-size: 2.08333vw; } }
  @media (min-width: 1025px) {
    html {
      font-size: 1vw; } }
  @media (min-width: 1700px) {
    html {
      font-size: 16px; } }

p {
  font-family: "Gotham Light", sans-serif;
  font-size: 16px; }

strong, b {
  font-weight: bold; }

.b-footer {
  background: #1f1f1f;
  padding: 0.4rem 1rem;
  text-align: center; }
  @media (min-width: 768px) {
    .b-footer {
      padding: 0.4rem 0.4rem; } }
  @media (min-width: 768px) {
    .b-footer__list {
      display: flex;
      justify-content: space-around; } }
  @media (min-width: 1025px) {
    .b-footer__list {
      max-width: 33.5rem;
      margin: auto; } }
  .b-footer__link {
    font-family: "Gotham Black", sans-serif;
    text-transform: uppercase;
    color: #ffff;
    margin: 5.8rem 0;
    display: block;
    letter-spacing: 0.325rem; }
    @media (max-width: 767px) {
      .b-footer__link {
        font-size: 12px; } }
    @media (min-width: 768px) {
      .b-footer__link {
        font-size: 11px; } }
    @media (min-width: 1025px) {
      .b-footer__link {
        font-size: 11px; } }
    @media (min-width: 768px) {
      .b-footer__link {
        letter-spacing: 0.13125rem;
        margin: 3.5rem 0; } }
    @media (min-width: 1025px) {
      .b-footer__link {
        letter-spacing: 0.125rem;
        margin: 1.5rem 0; } }

.b-latest {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 6.1%; }
  @media (min-width: 768px) {
    .b-latest {
      padding: 0 5.2%; } }
  @media (min-width: 1025px) {
    .b-latest {
      padding: 0 0.9%; } }

.c-section__title {
  font-family: "SFSports Night Upright", sans-serif;
  text-align: center;
  padding: 3rem 0;
  text-shadow: -2px -2px 0.1px rgba(22, 165, 222, 0.8), 2px 2px 0.1px rgba(22, 165, 222, 0.8), 3px 4px 76px rgba(22, 165, 222, 0.7);
  color: #000;
  text-transform: uppercase;
  position: relative; }
  @media (max-width: 767px) {
    .c-section__title {
      font-size: 20px; } }
  @media (min-width: 768px) {
    .c-section__title {
      font-size: 11px; } }
  @media (min-width: 1025px) {
    .c-section__title {
      font-size: 75px; } }
  .c-section__title__wrap {
    position: relative; }
  .c-section__title__circle {
    box-shadow: 0 0 115px 70px rgba(22, 165, 222, 0.2);
    border-radius: 100%;
    position: absolute;
    width: 27rem;
    height: 27rem;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background: rgba(22, 165, 222, 0.2); }

body {
  background: black; }

.c-btn {
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
  font-family: "Gotham Bold", sans-serif;
  border: 1px solid #16a5de;
  box-shadow: inset 0 0 16px rgba(22, 165, 222, 0.76), 1px 0px 5px rgba(22, 165, 222, 0.63);
  padding: 1rem;
  border-radius: 4px;
  position: relative; }

.o-latest {
  width: 48.5%;
  margin-bottom: 3.4rem; }
  @media (min-width: 768px) {
    .o-latest {
      margin-bottom: 3rem; } }
  @media (min-width: 1025px) {
    .o-latest {
      width: 23.8%; } }
  .o-latest__img img {
    width: 100%; }
  .o-latest__body {
    padding: 1.3rem 3rem 0 0;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; }
    @media (min-width: 768px) {
      .o-latest__body {
        padding: 1.2rem 5rem 0 0; } }
    @media (min-width: 1025px) {
      .o-latest__body {
        padding: 0.9rem 0 0 0.3rem;
        max-width: 13rem; } }
  .o-latest__tag {
    font-family: "Gotham Book", sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.03rem; }
    @media (max-width: 767px) {
      .o-latest__tag {
        font-size: 9px; } }
    @media (min-width: 768px) {
      .o-latest__tag {
        font-size: 14px; } }
    @media (min-width: 1025px) {
      .o-latest__tag {
        font-size: 7.5px; } }
  .o-latest__title {
    text-transform: uppercase;
    margin-top: 0.6rem;
    font-family: "SFSports Night Upright", sans-serif;
    color: #54d7f6;
    letter-spacing: 0.06rem; }
    @media (max-width: 767px) {
      .o-latest__title {
        font-size: 15px; } }
    @media (min-width: 768px) {
      .o-latest__title {
        font-size: 26px; } }
    @media (min-width: 1025px) {
      .o-latest__title {
        font-size: 23px; } }
    @media (max-width: 767px) {
      .o-latest__title {
        line-height: 1.875rem; } }
    @media (min-width: 768px) {
      .o-latest__title {
        line-height: 1.875rem; } }
    @media (min-width: 1025px) {
      .o-latest__title {
        line-height: 1.3125rem; } }
    @media (min-width: 768px) {
      .o-latest__title {
        margin-top: 1rem; } }
    @media (min-width: 1025px) {
      .o-latest__title {
        margin-top: 0.5rem; } }
  .o-latest__description {
    font-size: 8px;
    line-height: 12px;
    margin-top: 0.7rem; }

.h-align-center {
  text-align: center; }

.h-d-only {
  display: none; }

.h-t-only {
  display: none; }

.h-m-hide {
  display: none; }

@media (min-width: 1025px) {
  .h-d-hide {
    display: none !important; }
  .h-t-only {
    display: none; }
  .h-d-only {
    display: block; }
  .h-t-hide {
    display: block; } }

.clearfix {
  clear: both; }
