html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

@font-face {
  font-family: 'Gotham Black';
  src: url(/assets/font/GothamBlack/Gotham-Black.ttf) format("truetype"), url(/assets/font/GothamBlack/Gotham-Black.eot), url(/assets/font/GothamBlack/Gotham-Black.woff) format("woff"), url(/assets/font/GothamBlack/Gotham-Black.woff2), url(/assets/font/GothamBlack/Gotham-Black.svg) format("svg"); }

@font-face {
  font-family: 'Gotham Bold';
  src: url(/assets/font/GothamBold/GothamBoldRegular.ttf) format("truetype"), url(/assets/font/GothamBold/GothamBoldRegular.eot), url(/assets/font/GothamBold/GothamBoldRegular.woff) format("woff"), url(/assets/font/GothamBold/GothamBoldRegular.woff2), url(/assets/font/GothamBold/GothamBoldRegular.svg) format("svg"); }

@font-face {
  font-family: 'Gotham Book';
  src: url(/assets/font/GothamBook/GothamBookRegular.ttf) format("truetype"), url(/assets/font/GothamBook/GothamBookRegular.eot), url(/assets/font/GothamBook/GothamBookRegular.woff) format("woff"), url(/assets/font/GothamBook/GothamBookRegular.woff2), url(/assets/font/GothamBook/GothamBookRegular.svg) format("svg"); }

@font-face {
  font-family: 'Gotham Light';
  src: url(/assets/font/GothamLightRegular/GothamLightRegular.ttf) format("truetype"), url(/assets/font/GothamLightRegular/GothamLightRegular.eot), url(/assets/font/GothamLightRegular/GothamLightRegular.woff) format("woff"), url(/assets/font/GothamLightRegular/GothamLightRegular.woff2), url(/assets/font/GothamLightRegular/GothamLightRegular.svg) format("svg"); }

@font-face {
  font-family: 'Gotham Extra Light';
  src: url(/assets/font/GothamExtraLight/GothamExtraLight.ttf) format("truetype"), url(/assets/font/GothamExtraLight/GothamExtraLight.eot), url(/assets/font/GothamExtraLight/GothamExtraLight.woff) format("woff"), url(/assets/font/GothamExtraLight/GothamExtraLight.woff2), url(/assets/font/GothamExtraLight/GothamExtraLight.svg) format("svg"); }

@font-face {
  font-family: 'SFSports Night NS';
  src: url(/assets/font/SFSportsNightNS.ttf) format("truetype"); }

@font-face {
  font-family: 'SFSports Night Upright';
  src: url(/assets/font/SFSportsUpright.ttf) format("truetype"); }

html {
  font-family: "Gotham Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333; }

p {
  font-family: "Gotham Light", sans-serif;
  font-size: 16px; }

b {
  font-weight: bold;
  font-weight: bold;
  background: #dedede;
  color: black;
  padding: 5px 9px; }

.mobile-break {
  display: none; }
  @media (max-width: 640px) {
    .mobile-break {
      display: block; } }
