//----- Font Size

// px Font Size
@mixin font-size($fz-mobile, $fz-tablet, $fz-desktop) {
  @include breakpoint(mobile) {
    font-size: #{$fz-mobile}px;
  }
  @include breakpoint(tablet){
    font-size: #{$fz-tablet}px;
  }
  @include breakpoint(desktop){
    font-size: #{$fz-desktop}px;
  }
}

// Letter spacing
@mixin letter-spacing($ls) {
  letter-spacing: calcLS($ls);
}

// rem Font Size
@mixin font-size-rem($fz-mobile, $fz-tablet, $fz-desktop) {
  @include breakpoint(mobile) {
    font-size: cr($fz-mobile);
  }
  @include breakpoint(tablet){
    font-size: cr($fz-tablet);
  }
  @include breakpoint(desktop){
    font-size: cr($fz-desktop);
  }
}

// vw Font Size for HTML
@mixin font-size-vw($fz-mobile, $fz-tablet, $fz-desktop) {
  font-size: 16px;
  @include breakpoint(mobile) {
    font-size: cvw($fz-mobile, 640);
  }
  @include breakpoint(tablet) {
    font-size: cvw($fz-tablet, 768);
  }
  @include breakpoint(desktop){
    font-size: cvw($fz-desktop, 1600);
  }
}

//----- Line Height

// Example @include line-height(10px, 20px, 30px);
// rem Line-Height
@mixin line-height($fz-mobile, $fz-tablet, $fz-desktop) {
  @include breakpoint(mobile) {
    line-height: cr($fz-mobile);
  }
  @include breakpoint(tablet) {
    line-height: cr($fz-tablet);
  }
  @include breakpoint(desktop) {
    line-height: cr($fz-desktop);
  }
}
//----- Letter spacing
@mixin ls($ls) {
  letter-spacing: calcLS($ls);
}
//----mixin for glowing border
//example @include border-glow(red, 10px, 20px);

@mixin border-glow($color, $border-thicknes, $border-radius, $glow-spread){
	border:$border-thicknes solid $color;
	border-radius:$border-radius;
	box-shadow: 0 0 $glow-spread $color;
}


// Placeholder
// Example...
// input {
//   @include placeholder {
//     color: white;
//     font-size: 20px;
//   }
// }
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
