$text__family--Roboto:  'Roboto', sans-serif;
$text__family--UniSans:  'Uni Sans', sans-serif;
$base__font-size: 15px !default;
$base__line: 20 !default;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

@font-face {
    font-family: 'Uni Sans';
    src: url(../../assets/font/uni-sans-heavy.ttf) format('truetype'),
         url(../../assets/font/uni-sans-heavy.eot),
         url(../../assets/font/uni-sans-heavy.woff) format("woff"),
         url(../../assets/font/uni-sans-heavy.svg) format("svg");
}
html {
  font-family: $text__family--Roboto;
	font-size: $base__font-size;
  font-weight:300;
  color: #333;
  @include breakpoint(large){
    font-size:20px;
  }
}
b {
  font-weight: bold;
  font-weight: bold;
  background: rgb(222, 222, 222);
  color: black;
  padding: 5px 9px;
}
.mobile-break {
  display: none;
  @include breakpoint(mobile) {
    display: block;
  }
}
