$text__color--alpha: #666 !default;
$text__color--beta: #333 !default;
$text__color--gamma: #bbb !default;
$text__color--delta: #FC4D62 !default;

$color__primary--alpha: #FAFBFB;

$border__color--alpha: #dadada;

$color-mineShaft: #1f1f1f;
$color-white: #ffff;
$color-black: #000;
$color-malibu: #54d7f6;
$color-orangina: #efa507;
