.c-btn{
	text-align: center;
	text-transform: uppercase;
	color: $color-white;
	font-family: $GothamBold;
	@include font-size(8,11,11);
	border: 1px solid rgb(22, 165, 222);
	box-shadow: inset 0 0 16px rgba(22, 165, 222, 0.76), 1px 0px 5px rgba(22, 165, 222, 0.63);
	text-shadow: 1px 1px 5px rgba(250, 250, 250, .9);
	letter-spacing: 0.06rem;
	padding: 1.3rem 2rem;
    border-radius: 4px;
    position: relative;
    display: inline-block;
	@include breakpoint(tablet){
		letter-spacing: -0.01rem;
		padding: 1rem 2.5rem;
	}
}