.c-section__title{
	font-family: $SFUP;
	text-align: center;
	padding: 5.1rem 0 3rem 0;
	@include font-size(32,65,80);
	@include line-height(27,53,75);
    //text-shadow: -1px -1px 0.1px rgba(22, 165, 222, 0.8), 1px 1px 0.1px rgba(22, 165, 222, 0.8), 3px 4px 72px rgba(22, 165, 222, 0.7);
    //-webkit-text-stroke: 0.09rem rgba(22, 165, 222, 0.8);
    //text-shadow: 3px 4px 72px rgba(22, 165, 222, 0.7);
    text-shadow:-1px -1px 0 $blue, 
    			1px -1px 0 $blue, 
    			-1px 1px 0 $blue, 
    			1px 1px 0 $blue,
    			0px 0px 17px $blue;
	color: #000;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	@include breakpoint(tablet){
		padding: 1.4rem 0;
	}
	@include breakpoint(desktop){
		padding: 0.8rem 0;
		max-width: 59rem;
    	margin: auto;
	}
	&__wrap{
		position: relative;
		margin-bottom: 3.3rem;
		@include breakpoint(tablet){
			margin-bottom: 3.7rem;
		}
		@include breakpoint(desktop){
			margin-bottom: 4.65rem;
		}
	}
	&__circle{
		box-shadow: 0 0 115px 70px rgba(22, 165, 222, 0.3);
	    border-radius: 100%;
	    position: absolute;
	    width: 15rem;
	    height: 15rem;
	    left: 0;
	    right: 0;
	    top: 8rem;
	    margin: auto;
	    background: rgba(22, 165, 222, 0.3);
		@include breakpoint(tablet){
			box-shadow: 0 0 115px 70px rgba(22, 165, 222, 0.25);
		    width: 25rem;
		    height: 25rem;
		    top: -3rem;
		    background: rgba(22, 165, 222, 0.25);
		}
	}
}
